*, *::before, *::after {
    box-sizing: border-box;
} 

:root {
    --first-column-width: max(62%, 75ch);
    --second-column-width: max(32%, 386px);
  }

.html {
    box-sizing: inherit;   
}

img {
    max-width: 100%;
}

.page__body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.52;
    margin: 0;
}

.hero {
    background-color: #23424A;
    color: #ffffff;
    padding: 100px 0;    
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.hero__text-wrapper {
    width: var(--first-column-width);
    outline: 2px dotted red;
}

.hero__title {
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.17;
    margin-top: 0;
}

.hero__text {
    color: rgba(255, 255, 255, 0.85);
    padding-bottom: 2em;
}

.hero__button {
    border-radius: 100px;
    font-weight: 700;
    color: #072A2D;
    background-color: #38CFD9;
    line-height: 150.19%;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: .85em 2.3em;
    display: inline-block;
}

.features {
    padding: 3em 0;
}

.hero__img-wrapper {
    width: var(--second-column-width);
    outline: 2px dotted red;

}

.box__title {
    font-weight: 900;
    font-size: 2.25rem;
}

.box__title_white-bkgr {
    color: #136C72;
}

.features__inner {
    width: 80%;
    margin: 0 auto;
    /*properly I need a max-width here but then I also need the same max-width on the earlier section */
}

.features_teal-bkgr {
    background-color: #136C72;
    color: #ffffff;
}

.features__list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.features__item {
    text-align: center;
    max-width: 500px;
}

.features__feature-title {
    font-weight: 900;
    font-size: 2.25rem;
    line-height: 1.17;  
}

.features__feature-title_violet {
    color: #87629A;
}

.two-column__flex-column {
    flex-direction: column;
}


.two-column__item {
    outline: 2px dotted red;
}

.two-column__item:first-child { 
    width: var(--first-column-width);
}

.two-column__item:last-child { 
    width: var(--second-column-width);
}